/* 	COMMENT FORMS
	----------------- */
#reply-title {
	@include ff-heading;
	font-size: 24px;
	margin-bottom: 5px;
}
	
.comment-notes {
	font-size: 12px;
}

.form-allowed-tags {
	@extend .comment-notes;
}

.logged-in-as {
	@extend .comment-notes;
}

#respond {
	margin-top: 30px;
	
	.comment-form-comment {
		label {
			display: block;
			margin-bottom: 10px;
		}
	}
	
	label{
		color: $gray;
		@include ff-heading;
		font-size: 18px;
		font-weight: normal;
		position: relative;
		top: 5px;
	}
	
	input[type="text"],
	textarea {
		border: none;
		@include single-box-shadow( rgba($black, .1), 0, 0, 3px, 0, true );
		color: $fontColor;
		@include ff-text;
	}
	
	input[type="text"] {
		height: 30px;
		@include float(left);
		margin-right: 5px;
	}
	
	textarea {
		font-size: 14px;
		line-height: 1.5em;
		padding: 7px;
	}
	
	input[type="submit"] {
		@extend .btn;
		font-size: 18px;
		font-weight: normal;
		padding: 10px 15px;
		&:focus {
			@include box-shadow(none);
		}
	}
	
	.required {
		color: #f00;
		position: relative;
		top: 3px;
	}
}

/* 	COMMENT LISTS
	----------------- */
.comments-title {
	@extend #reply-title;
	margin-bottom: 20px;
}

.commentlist {
	@include reset-list;
	li {
		background: $white;
		@include single-box-shadow( rgba($black, .1), 0, 0, 2px, 0, true );
		margin-bottom: 20px;
		padding: 20px;
		article {
			
		}
		.children {
			list-style: none;
			margin-top: 20px;
			li {
				
			}
			article {
			}
		}
		&.pingback {
			p {
				margin: 0;
			}
		}
		&.bypostauthor {
			background: #fafafa;
		}
	}
	
	.comment-reply-link {
		color: $fontColor;
		font-size: 11px;
	}
	
}

.comment-meta {
	display: block;
	font-size: 11px;
	margin-bottom: 10px;
	overflow: hidden;
	img.avatar {
		border: 1px solid $borderColor;
		@include border-radius(10px);
		@include float-left;
		margin-right: 10px;
		padding: 3px;
	}
	.fn {
		font-size: 12px;
		display: block;
	}
	.comment-awaiting-moderation {
		background: #fbe3e4;
		border: 1px solid #fbc2c4;
		color: #8a1f11;
		clear: both;
		display: block;
		margin-top: 25px;
		padding: 5px;
	}
}

.comment-content {
	/* 	RESET HEADING ON COMMENT CONTENT
	----------------- */
	h1 {
		font-size: 24px;
		line-height: 1.3em;
	}
	h2 {
		font-size: 21px;
		line-height: 1.3em;
	}
	h3 {
		font-size: 18px;
		line-height: 1.5em;
	}
	h4 {
		font-size: 16px;
		line-height: 1.5em;
	}
	h5 {
		font-size: 14px;
		line-height: 1.5em;
	}
	h6 {
		font-size: 14px;
		line-height: 1.5em;
	}
	ul,
	ol {
		li {
			@include box-shadow(none);
			margin: 0;
			padding: 0;
		}
	}
}

.comment-navigation {
	margin-bottom: 20px;
	.nav-next,
	.nav-previous {
		a {
			@extend .btn;
			padding: 7px 10px;
		}
	}
}