.site-header {
	border-bottom: 4px double $grayLighter;
	margin: 40px 0 20px;
	padding-bottom: 20px;
}

.site-branding {
	.site-title {
		@include ff-lato-bold;
		font-size: 48px;
		letter-spacing: -2px;
		line-height: 1em;
		a {
			color: #f0eff1;
			@include text-shadow(lighten(#8e8e8e, 30%) 0 -1px 0);
			&:hover {
				text-decoration: none;
			}
		}
	}
	.site-tagline {
		font-size: 14px;
		@include ff-heading;
		text-transform: uppercase;
	}
	.site-logo {
		position: relative;
		a {
			display: block;
		}
		span {
			@include hide-text(right);
			left: 0;
			position: absolute;
			top: 0;
		}
	}
}

.header-right-area {
	text-align: right;
}

.site-social {
	padding-top: 20px;
	span {
		@include inline-block;
		margin-right: 10px;
		a {
			height: 26px;
			@include inline-block;
			@include hide-text(right);
			@include transition-property(all);
			@include transition-duration(.25s);
			@include transition-timing-function(ease-in-out);
			@include transition-delay(0s);
			width: 26px;
		}
		&.feed {
			a {
				background: image-url("sprite-icons.png") no-repeat -9px -13px;
				&:hover {
					background: image-url("sprite-icons.png") no-repeat -9px -46px;
				}
			}
		}
		&.gplus {
			a {
				background: image-url("sprite-icons.png") no-repeat -48px -13px;
				&:hover {
					background: image-url("sprite-icons.png") no-repeat -48px -46px;
				}
			}
		}
		&.fb {
			margin-right: 5px;
			a {
				background: image-url("sprite-icons.png") no-repeat -89px -13px;
				&:hover {
					background: image-url("sprite-icons.png") no-repeat -89px -45px;
				}
			}
		}
		&.tw {
			margin-right: 0;
			a {
				background: image-url("sprite-icons.png") no-repeat -123px -14px;
				height: 24px;
				width: 32px;
				&:hover {
					background: image-url("sprite-icons.png") no-repeat -123px -45px;
				}
			}
		}
	}
}

#searchform {
	padding-top: 20px;
	position: relative;
	input[type="text"] {
		border: none;
		@include border-radius(3px);
		@include single-box-shadow( rgba($black, .1), 0, 0, 3px, 0, true );
		color: $fontColor;
		@include ff-heading;
		height: 30px;
		width: 100%;
	}
	input[type="submit"] {
		@extend .btn;
		font-size: 14px;
		font-weight: normal;
		height: 24px;
		letter-spacing: -1px;
		padding: 4px 14px;
		position: absolute;
		right: 3px;
		top: 23px;
		&:focus {
			@include box-shadow(none);
		}
	}
}