.ie {
	button,
	input[type="reset"],
	input[type="submit"],
	input[type="button"] {
		&:hover {
			@include filter-gradient($grayLighter, $gray, vertical);
		}
		&:active {
			@include filter-gradient($white, $grayLight, vertical);
		}
	}
	
	#searchform input[type="submit"], .paging-navigation a  {
		@include filter-gradient($white, $whiteDark, vertical);
	}
	
	.commentlist li {
		border: 1px solid $borderColor;
	}
	
	#respond {
		input[type="text"],
		textarea {
			border: 1px solid #ddd;
		}
	}
	
}

.ie8 {
	#searchform input[type="text"] {
		border: 1px solid #ddd;
		line-height: 2em;
	}
	
	.foto_author_bio .author-detail span {
		width: 120px;
	}
}