/* 	GLOBAL BUTTON STYLE
	----------------- */
.btn {
	background: $whiteDark;
	@include background-image( linear-gradient(center top, $white, $whiteDark) );
	@include box-shadow(none);
	border: 1px solid $borderColor;
	@include border-radius(3px);
	color: $grayDark;
	@include ff-heading;
	@include text-shadow( $white 0 1px 0 );
	&:hover {
		background: $white;
		@include background-image( linear-gradient(center top, $whiteDark, $white) );
		text-decoration: none;
	}
	&:active {
		@include single-box-shadow( rgba($black, .15), 0, 2px, 3px, 0, true );
		outline: 0;
	}
}

/* 	CONTACT FORM 7
	----------------- */
.entry-content {
	.wpcf7 {
		background: $whiteDark;
		@include border-radius(5px);
		margin: 0 0 1.5em 0;
		padding: 1.4em;
		
		input[type="text"],
		input[type="email"] {
			height: 2.5em;
		}
	}
	div.wpcf7-validation-errors,
	div.wpcf7-mail-sent-ng {
		background: #f00;
		border: 2px solid #f00;
		color: $white;
	}
	span.wpcf7-not-valid-tip {
		background: #f00;
		border: 1px solid #f00;
		color: $white;
		left: 105%;
		padding: 0.2em 0.75em;
		top: -21%;
		width: 18em;
	}
	div.wpcf7 img.ajax-loader {
		margin-left: 1em;
	}
}