/* 	ARTICLE PAGINATION
	----------------- */
.page-links {
	clear: both;
	display: block;
	text-align: center;
}

/* 	PAGING NAVIGATION & WP-PAGENAVI
	----------------- */
#nav-above {
	margin-bottom: 40px;
}

.paging-navigation {
	clear: both;
	text-align: right;
	a {
		@extend .btn;
		display: block;
		font-size: 12px;
		padding: 4px 14px 0;
		text-transform: uppercase;
	}
	.nav-previous {
		@include float(left);
	}
	.nav-next {
		@include float(right);
	}
	
	.wp-pagenavi {
		.pages	{
			background: $whiteDark;
			@include background-image( linear-gradient(center top, $white, $whiteDark) );
			border: 1px solid $borderColor;
			@include border-radius(3px);
			color: $grayDark;
			@include ff-heading;
			@include text-shadow( $white 0 1px 0 );
			@include inline-block;
			font-size: 12px;
			margin-right: 10px;
			padding: 4px 14px 0;
			text-transform: uppercase;
		}
		.current {
			@extend .pages;
		}
		a {
			@include inline-block;
			margin-right: 10px;
		}
	}
}

/* 	SINGLE PAGE NAVIGATION
	----------------- */
.post-navigation {
	@include float(right);
	margin-right: 20px;
	a {
		@include inline-block;
		height: 35px;
		@include hide-text(right);
		width: 35px;
	}
	.nav-previous {
		@include float(left);
		margin-right: 5px;
		a[rel="prev"] {
			background: image-url("sprite-icons.png") no-repeat -8px -84px;
			&:hover {
				background: image-url("sprite-icons.png") no-repeat -9px -125px;
			}
		}
	}
	.nav-next {
		@include float(left);
		a[rel="next"] {
			background: image-url("sprite-icons.png") no-repeat -56px -84px;
			&:hover {
				background: image-url("sprite-icons.png") no-repeat -57px -125px;
			}
		}
	}
}

/* 	ATTACHMENT PAGE NAVIGATION
	----------------- */
.image-navigation {
	@include float(right);
	margin-right: 20px;
	a {
		@include inline-block;
		height: 35px;
		@include hide-text(right);
		width: 35px;
	}
	.previous-image {
		@include float(left);
		margin-right: 5px;
		a {
			background: image-url("sprite-icons.png") no-repeat -8px -84px;
			&:hover {
				background: image-url("sprite-icons.png") no-repeat -9px -125px;
			}
		}
	}
	.next-image {
		@include float(left);
		a {
			background: image-url("sprite-icons.png") no-repeat -56px -84px;
			&:hover {
				background: image-url("sprite-icons.png") no-repeat -57px -125px;
			}
		}
	}
}