@include establish-baseline(14px);

/* 	SELECTION
	----------------- */
@include selection($linkColor, $white);


/* 	LINKS
	----------------- */
a { 
	color: $linkColor;
	text-decoration: none;
	&:hover {
		color: $linkHover;
		text-decoration: underline;
	}
	&:visited,
	&:active {
		color: $linkVisited;
	}
}